<div class="col-xs-12 col-md-3 vertical-padding">
  <div class="btn btn-default list--adder" ng-click="listCtrl.createListMode = !listCtrl.createListMode">
    <div>Add List</div>
  </div>

  <hr />
  <!-- Add List Form -->
  <form name="createListForm" ng-show="listCtrl.createListMode"
  ng-submit="listCtrl.addList(listCtrl)" novalidate>
    <div>{{ listCtrl.listDetails.title }}</div>
    <input type="text" ng-model="listCtrl.listDetails.title" placeholder="List Title"></input>
    <input type="submit" value="Create">
  </form>
</div>
