.Header {
  text-align: center;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header  li {
  display: inline-block;
}

.Header li a {
  display: block;
  padding: 0.5rem 0.75rem;
}
