{% extends 'Food/base.html' %}
{% load staticfiles %}
{% block title %}About Us{% endblock %}
{% block body %}


  <div class="row">
    <div class="col-xs-12 abouttopbg">About Us
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 aboutrowdark text">
      <h2>Windsor Roots</h2>
      <p>Macro Foods was designed as a venue for ease and convenience to a healthy

lifestyle. Our mission is health made easy. With days seemingly shorter and

schedules grossly more full there seems to be one common denominator that gets

left behind; packing a lunch. The obesity epidemic is on the rise largely due to these

fast choices that we are all forced to make on a day-to-day basis, what should I grab

to eat today?</p>
    </div>
    <div class="col-sm-6 aboutrow pic1">
    </div>

    <div class="col-sm-6 aboutrow pic2">
    </div>
    <div class="col-sm-6 aboutrow text">
      <h2>Our Values</h2>
      <p>Macro Foods is the solution. Our gourmet health food is cooked fresh

daily and will leave you wondering how healthy ever tasted so good.  We offer a

range of health foods and general/custom plans and can work with whatever

dietary requirements needed. Contact us today and have your meals delivered right

to your door. Need a meal on the go? Stop by our storefront and grab a premade

meal. Whatever the case may be let us help you make the changes you want.</p>
    </div>

    <div class="col-sm-6 aboutrowdark text">
      <h2>Our Promise to You</h2>
      <p>Our promise:

 To ensure that every meal is cooked with our passion in mind – health

 To use real food which means real fresh and locally grown organic

ingredients whenever possible

 To pack as much nutrient dense food in every dish as possible

 To provide value, quality, and great taste for each and every meal

 To ensure balanced meals to set you on the right path to your goals

 Simplicity.</p>
    </div>
    <div class="col-sm-6 aboutrow pic3">

    </div>
  </div>





{% endblock %}
