.todoWrapper {  /* stylelint-ignore */
  width: 100vw;
  height: auto;
  border: 1px solid red;
}

.listWrapper {
  width: 100vw;
  height: auto;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
