{% extends 'Food/base.html' %}
{% load staticfiles %}
{% block title %}Macro Foods{% endblock %}
{% block body %}
<!--
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
-->

<!-- Page Content -->


    <div class="row test">
      <div class="col-sm-12 indexbg" id="bubble1">
        <p>Macro Foods</p>
      </div>
    </div>


    <div class="row news"><!--Updates/Promotions-->
      <div class="col-xs-8 col-sm-8">
        <h4>Latest News:</h4>
        <p>Check out our new Succulent Salmon!</p>
        <p>Hand picked salmon fresh from the Atlantic, we glazed and cooked it to perfection!</p>
      </div>
      <div class="col-xs-4 col-sm-4 newspic">
      </div>
    </div>
<!--
    <div class="row howto title">
        <div class="col-sm-12">
          <h1>How it Works:</h1>
        </div>
    </div>-->

    <div class="row howto">
      <div class="col-sm-3 howtopic1">
      </div>
      <div class="col-sm-9">
        <h1>Browse our menu and pick an item. All our food is cooked fresh daily and leave you wondering how healthy ever tasted so good. </h1>
      </div>
    </div>

    <div class="row howto">
      <div class="col-sm-9">
        <h1>Fill out the form with the number of orders. Make sure to include any special requests or allergies.</h1>
      </div>
      <div class="col-sm-3 howtopic2">
      </div>
    </div>

    <div class="row howto">
      <div class="col-sm-3 howtopic3">
      </div>
      <div class="col-sm-9 col-sm-offset-1">
        <h1>Delivery! Fast, secure, free</h1>
      </div>
    </div><!--END Informationals-->




{% endblock %}
