.dateInput { /* stylelint-disable */

}

/*.dummyDiv {
  position: fixed;
  top: 0;
  left: 0;
  border: 5px solid red;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.datePickerWrapper {
  z-index: 3;
}*/
