.policyDropdown {
  position: absolute;
  top: 2rem;
  right: 0;
  background: #fafafc;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-shadow: 0 1px 5px 0 color(#000 alpha(40%));
  display: none;
  border-bottom-left-radius: 0.2rem;
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      & a,
      & button {
        display: block;
        text-align: right;
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid #e1e1e1;
        text-decoration: none;
        color: var(--primary);
        font-size: 0.9rem;
        font-weight: 400;

        &:hover {
          color: color(var(--primary) lightness(50%));
        }
      }
      &:last-child {
        & a,
        & button {
          border: none;
        }
      }
    }
  }
  &.toggled {
    display: block;
  }
}
